<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Your Resume</h1>
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="application/pdf" required>
            <button type="submit">Analyze</button>
        </form>
        <pre id="result"></pre>
    </div>

    <script>
        document.querySelector("#uploadForm").onsubmit = async function (event) {
            event.preventDefault();
            let formData = new FormData(this);
            let response = await fetch("/upload", { method: "POST", body: formData });
            let data = await response.json();
            
            console.log(data.resume_details);
            document.getElementById("result").textContent = data.resume_details;
            
            

            // const x = JSON.stringify(data, null, 2);
            
            // console.log(data.name);
            // document.getElementById("result").textContent = data;
        };
    </script>
</body>
</html>
